h3 { 
    color: #009dfa;
    background-color: white;
    border-radius: 8px;
    border:1px solid #009dfa;
    padding: 5px 5px;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 75%;
}

body {
    font: 400 13.3333px Arial;
    font-size: 14px;
    background-image: url(images/clickbait.gif), url(images/cliffhanger_loopdribbb8x6.gif);
    background-position: top, bottom;
    background-repeat: no-repeat, repeat;
    background-size: cover, cover;
    background-color: rgb(247, 163, 219);  
}

#bar {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around; 
}

#followees {
    display: none;
}

#followers {
    display: none;
}

.follow-header:hover {
    background-color: #e5f5fe;
    cursor:pointer;
}

.mailbox:hover {
    background-color: #e5f5fe;
    cursor:pointer;
}

button {
    background-color: #009dfa;
    color: white;
    border: none;
    font-size: 14px;
    padding: 10px 40px;
    border-radius: 8px;
    border:1px solid #009dfa;
}

button:hover {
    background-color: white;
    color: #009dfa;
    cursor:pointer;
}

#send-message {
    margin: auto;
    width: 75%;
    margin-top: 15px;
    margin-bottom: 15px;
}

input[type=submit]:hover {
    background-color: white;
    color: #009dfa;
    cursor:pointer;
}

#popup {
    width:100%;
    height:100%;
    opacity:.95;
    top:0;
    left:0;
    display:none;
    position:fixed;
    background-color:#313131;
    overflow:auto
}


#popup-sign {
    width:100%;
    height:100%;
    opacity:.95;
    z-index: 4;
    top:0;
    left:0;
    position:fixed;
    display: block;
    background-color:#313131;
    overflow:auto
}

img#close {
    position:absolute;
    right: -2px;
    top: 0px;
    cursor: pointer;
    width: 7%;
    height: auto;
}

label {
    font-size:20px;

}

div#popup-message {
    position:absolute;
    left:50%;
    top:17%;
    margin-left:-202px;
}

form {
    max-width:300px;
    min-width:250px;
    padding:50px 70px;
    border: 2px solid #009dfa;
    border-radius: 10px;
    background-color: rgba(255, 229, 229);
}

input[type=text] {
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 10px;
    width: 100%;
}

input[type=search] {
    width:100%;
    padding:10px;
    border-radius: 8px;
    margin-top:30px;
    margin-left:0px;
    border:1px solid #b1b1b1;
    padding-left:7px;
    font-size:16px;
}

@font-face {
    font-family: veganFont;
    src: url(images/VeganStylePersonalUse-5Y58.ttf)
}

label {
    font-size:28px;
    font-family: veganFont;
}

textarea {
    background-repeat:no-repeat;
    background-position:5px 7px;
    width:100%;
    height:70px;
    padding:10px;
    border-radius: 8px;
    resize:none;
    margin-top:30px;
    margin-left:0px;
    border:1px solid #b1b1b1;
    padding-left:7px;
    font-size:18px;
    font: 400 13.3333px Arial;
    margin-bottom:30px;
}

input[type=submit] {
    text-decoration:none;
    width:100%;
    text-align:center;
    display:block;
    background-color:#009dfa;
    color:#fff;
    border-radius: 10px;
    border:1px solid #009dfa;
    padding:10px 0px;
    font-size:16px;
    cursor:pointer;
    border-radius:5px;
    margin-bottom:20px;
}

#received {
    display: none;
}

#sent {
    display: none;
}

#follow-container {
    text-align: center;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-around;
    padding: 10px;
    position: absolute;
    left: 10px;
    border: 2px solid #b1b1b1;
    border-radius: 8px;
    background-color: rgba(243, 44, 17, 0.10);
}

#reminder-container {
    text-align: center;
    display: flex;
    justify-content: space-around;
    flex-flow: column nowrap;
    padding: 10px;
    position: absolute;
    border: 2px solid #b1b1b1;
    border-radius: 8px;
    background-color: rgba(243, 44, 17, 0.10); 
}

.follow-li {
    display: flex;
    flex-flow: column nowrap;
    padding: 10px;
    border: 2px solid #009dfa;
    border-radius: 10px;
    width: 70%;
    margin-right: 15px;
    margin-bottom: 5px;
    background-color: rgb(194, 220, 221);
}

.follow-li > h4 {
    margin-bottom: -5px;
    margin-top: 5px;
}

#message-container {
    text-align: center;
    display: flex;
    flex-flow: column nowrap;
    justify-content: right;
    padding: 10px;
    position: absolute;
    right: 10px;
    border: 2px solid #b1b1b1;
    border-radius: 8px;
    background-color: rgba(243, 44, 17, 0.10);
    
}

.message-group {
    display: flex;
    justify-content: space-around;
}

.message-tile {
    padding: 10px;
    border: 2px solid #009dfa;
    border-radius: 10px;
    width: 70%;
    margin: auto;
    margin-bottom: 5px;
    text-align: left;
    background-color: rgb(194, 220, 221);
}

.message-tile > h4 {
    margin-bottom: -5px;
    margin-top: 5px;
}


.message-info {
    text-align: center;
}

  